.summary-container {
  background-color: #f5f6fb;
  border-radius: 20px;
  width: 230px;
}

.summary-title {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 12px 0;
  background-color: #f5f6fb;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.06px;
  letter-spacing: 0.02em;
}

.summary-content {
  padding: 0 20px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 2px solid #ffffff;
}

.summary-row:last-child {
  border-bottom: none;
}

.summary-month {
  font-size: 12px;
  color: #52555f;
}

.summary-amount {
  font-size: 12px;
  font-weight: 700;
  color: #52555f;
}
